@using PostManagement.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="text-center display-4">Welcome</h1>
    <div>
        <form method="get">
            <input class="" type="text" name="search" value="@ViewBag.Search" />
            <button type="submit" class="btn btn-success">search</button>
        </form>
    </div>
    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            <a href="/Home/add">Create post</a>
        </div>
    </div>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User created</th>
                    <th>title</th>
                    <th>Content</th>
                    <th>Created date</th>
                    <th>Updated date</th>
                    <th>Published status</th>
                    <th>category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tablePost">
            </tbody>
        </table>
        <div class="">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item
@(ViewBag.Page == 0 || ViewBag.Page == 1 ? "disabled" : "")
"><a class="page-link" href="/Home/Index?page=@(ViewBag.Page-1)">Previous</a></li>
                    @for (int i = 1; i <= ViewBag.totalPage; i++)
                    {
                        <li class="page-item @(ViewBag.Page == i ? "active" : "")">
                            <a class="page-link" href="/Home/Index?page=@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.Page == ViewBag.totalPage
                     ? "disabled" : "")">
                        <a class="page-link" href="/Home/Index?page=@(ViewBag.Page+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
